@import '@/global.scss';

.socialImg {
  width: 45px;
  height: 45px;
  transition: transform $transitionFast;
  &:hover {
    transform: scale(1.2);
  }
}

@media screen and (max-width: $desktopMobileLimit) {
  .socialImg {
    width: 40px;
    height: 40px;
  }
}
